.fighter-preview__img {
  width: 100%;
  height: 250px;
}

.fighter-preview__content-container {
  box-sizing: border-box;
  width: 100%;
  background-color: #ffdfa7;
  border: 5px solid #ca9650;
  padding: 16px 16px;
}

.fighter-preview__content-container:hover {
  background-color: #cbe4f8;
  border: 5px solid #267abf;
}

.fighter-preview__content-container p {
  color: black;
  margin: 0;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  font-size: 18px;
  font-family: 'Arial Black';
  font-weight: 700;
  border-bottom: 3px solid #ca9650;
}

.fighter-preview__content-container:hover > p {
  border-bottom: 3px solid #267abf;
}
